<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.sunmax0731.worktimecarddailyreport">
  <application android:allowBackup="false" android:label="作業打刻・日報生成" android:usesCleartextTraffic="false" android:theme="@style/AppTheme">
    <activity android:name=".MainActivity" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
